.iap-applications-list {
  margin: 80px 0;
}

.iap-application-row {
  padding: 15px 10px;
  width: 100%;
}

.iap-application-row__clientid {
  font-size: 14px;
  color: #6d6d6d;
  padding: 2px 7px;
  border-radius: 2px;
  background: #eee;
  display: inline-block;
  cursor: text;
}

.iap-application-row__icon-wrapper {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.iap-application-row__icon {
  height: 40px;
  width: 40px;
}

.iap-application-row__type {
  font-size: 13px;
  color: #3d3d3d;
  text-transform: uppercase;
}