{
  "presets":  [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "exclude": ["transform-async-to-generator", "es6.promise"]
    }]
  ],
}
