.iap-login-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  box-sizing: content-box;
}

.iap-login-form__submit-btn {
  background-color: #3CA6F5;
  padding: 10px 20px;
  color: #fff;
  border-radius: 7px;
  border: none;
  font-size: 17px;
  margin-top: 10px;
  width: 100%;
  outline: none;
  cursor: pointer;
  border: 2px solid #3CA6F5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.iap-login-form__submit-btn:hover {
  background-color: #1B9CFC;
}

.iap-login-form__submit-btn:focus {
  border-color: #1D72B3;
}

.iap-login-form__submit-btn:active {
  background-color: #1D8FE3;
  border-color: #1D8FE3;
}

.iap-login-form__submit-btn:disabled {
  opacity: .5;
}

.iap-login-form__submit-indicator {
  height: 40px;
  position: absolute;
  left: 30%;
}

.iap-login-form__title {
  font-size: 31px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #3d3d3d;
}

.iap-login-form__error-msg {
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #e98787;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: opacity 100ms;
}

.iap-login-form__error-msg button {
  height: 100%;
  width: 100%;
  padding: 20px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  text-align: left;
  cursor: pointer;
}

.iap-login-form__error-msg:hover {
  opacity: .7;
}
