.iap-404-screen {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.iap-404-screen__title {
  font-size: 18px;
  margin-bottom: 5px;
  color: #aaa;
}

.iap-404-screen__subtitle {
  font-size: 22px;
  margin-top: 15px;
  color: #3d3d3d;
}