.iap-apps-form {
  width: 350px;
  margin: 50px 0;
}

.iap-tabs-tablist + .iap-apps-form {
  margin: 20px 0;
}

.iap-apps-form__footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.iap-apps-form__secret-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iap-apps-form__secret-value {
  padding: 10px 16px;
  min-height: 45px;
  border-radius: 7px;
  background-color: #f7fcff;
  border: 1px solid #cbe7fb;
  font-size: 14px;
  font-family: 'Circe', monospace;
  outline: none;
  color: #aaa;
  width: 100%;
  margin: 4px 5px 4px 0;
  max-width: 233.5px;
  overflow: hidden;
  text-align: center;
}
