.hosted-pages-main {
  margin-top: 50px;
}

.template-editor {
  border-radius: 7px;
  border: 1px solid #cbe7fb;
  overflow: hidden;
  min-height: 200px;
  background-color: #fff;
  position: relative;
  max-width: 705px;
}

.template-editor .CodeMirror {
  height: auto !important;
}

.template-editor .CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
  padding-left: 10px !important;
}

.template-editor__numpad-area {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  background-color: #f7f7f7;
  border-right: 1px solid #ddd;
}

.template-selector-title {
  font-size: 14px;
  width: 100%;
  text-align: right;
  color: #aaa;
}

.template-editor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.template-editor__filename {
  font-size: 15px;
  color: #3d3d3d;
  border-radius: 4px;
  color: #999;
  display: flex;
  align-items: center;
}

.template-editor__file-icon {
  height: 15px;
  width: 15px;
  fill: #999;
  margin-right: 5px;
}

.template-editor__upload-code {
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: var(--main-color);
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
}

.template-editor__upload-code:hover {
  color: var(--main-color-hover);
}

.template-editor__upload-code:hover .template-editor__upload-icon {
  fill: var(--main-color-hover);
}

.template-editor__upload-icon {
  height: 15px;
  fill: var(--main-color);
  margin-right: 5px;
}

.template-editor-footer {
  margin-top: 25px;
}