.iap-settings-section {
  margin: 25px 0;
}

.iap-settings-section__info {
  margin: 30px 0 25px 0;
}

.iap-settings-section__info span:first-of-type {
  font-size: 15px;
  font-weight: bold;
}

.iap-settings-section__email {
  font-size: 16px;
}
