@font-face {
  font-family: 'Circe';
  src: url('../assets/fonts/Circe-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../assets/fonts/Circe-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Circe';
  box-sizing: border-box;
}

:root {
  --main-color: #3CA6F5;
}

/* react router dom link */
.rrdl { 
  text-decoration: none;
  color: inherit;
}

@keyframes pulse {
  0% {
    background-color: #eee;
    opacity: 1;
  }
  50% {
    background-color: #f3f3f3;
    opacity: 0.75;
  }
  100% {
    background-color: #eee;
    opacity: 1;
  }
}

@keyframes profile-dropdown-fadeout {
  from {
    transform: translateY(105%) scale(0.7);
  }

  to {
    transform: translateY(105%) scale(1);
  }
}
