@keyframes pulse {
  0% {
    background-color: #eee;
    opacity: 1;
  }
  50% {
    background-color: #f3f3f3;
    opacity: 0.75;
  }
  100% {
    background-color: #eee;
    opacity: 1;
  }
}

@keyframes profile-dropdown-fadeout {
  from {
    transform: translateY(105%) scale(0.7);
  }

  to {
    transform: translateY(105%) scale(1);
  }
}

@keyframes file-input-icon-appear {
  from {
    transform: scale(.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes upload-prompt-appear {
  from {
    transform: translateX(90%);
    opacity: .3
  }
  to {
    transform: translateX(100%);
    opacity: 1;
  }
}

@keyframes notification-slide-right {
  0% {
    transform: translateX(100%);
    opacity: .5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes db-dropdown-fadein {
  from {
    transform: translateY(calc(100% - 10px));
    opacity: .1;
  }

  to {
    transform: translateY(100%);
    opacity: 1;
  }
}