.iap-tabs-tablist {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 0;
}

.iap-tabs-tab {
  cursor: pointer;
  text-align: left;
  outline: none;
  border: none;
  font-size: 15px;
  border-bottom: 2px solid #fff;
  background-color: #fff;
  color: #9d9d9d;
  padding: 0 5px 1px 5px;
}

.iap-tabs-tab + .iap-tabs-tab {
  margin-left: 11px;
}

.iap-tabs-tab:hover {
  color: #6d6d6d;
}

.iap-tabs-tab.iap-tabs-tab--active {
  color: #000;
  border-bottom: 2px solid var(--main-color);
}
