.iap-tabs-tablist {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px 0 4px 0;
  position: relative;
}

.iap-tabs-tab {
  cursor: pointer;
  text-align: left;
  outline: none;
  border: none;
  font-size: 15px;
  background-color: #fff;
  color: #9d9d9d;
  padding: 0 5px 1px 5px;
  padding: 2px 9px;
}

.iap-tabs-tab:hover {
  color: #6d6d6d;
}

.iap-tabs-tab.iap-tabs-tab--active {
  color: #000;
}

.tab-underline {
  height: 3px;
  width: 100px;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 15px;
  transition: all 200ms ease-in-out;
}