.iap-login-form__input::placeholder {
  color: #5d5d5d;
}

.iap-login-form__input {
  padding: 12px 20px;
  border-radius: 7px;
  background-color: #f0f9ff;
  border: 2px solid #e9f6ff;
  font-size: 17px;
  outline: none;
  color: #000;
  width: 100%;
  margin: 4px 0;
}

.iap-login-form__input:focus {
  border: 2px solid #c3e0ff;
}

.iap-login-form__input:disabled {
  opacity: .5;
  cursor: default;
}