@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@font-face {
  font-family: 'Circe';
  src: url('../assets/fonts/Circe-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../assets/fonts/Circe-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Circe';
  box-sizing: border-box;
}
