.iap-sidebarnav-icon {
  height: 18px;
  width: 18px;
  position: absolute;
  left: 0;
  transform: translateY(-2px);
}

.iap-sidebarnav-icon.iap-sidebarnav-icon--active path,
.iap-sidebarnav-icon.iap-sidebarnav-icon--active circle {
  fill: #1B9CFC;
}