.iap-sidebarnav-icon {
  height: 20px;
  width: 20px;
  position: absolute;
  left: -2px;
  transform: translateY(-2px);
}

.iap-sidebarnav-icon.iap-sidebarnav-icon--active path,
.iap-sidebarnav-icon.iap-sidebarnav-icon--active circle {
  fill: #1B9CFC;
}