.iap-management-header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  z-index: 1;
}

.iap-management-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.iap-management-header__logo {
  font: 700 17px 'Circe';
  text-transform: uppercase;
  color: #1B9CFC;
  width: 25%;
  display: flex;
  padding-left: 30px;
}
