.iap-management-header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

.iap-management-header__logo {
  font-size: 22px;
  font-weight: bold;
  color: #758da7;
}